.main-filter{
    margin: 2%;
  .column{
      width: 100% !important;
  }
    button{
        border: solid 2px black;
        border-radius: 20px;
        font-weight: bold;
        margin: 1%;
    }
}