.banner{
    background-color: rgb(255, 14, 78);
    padding: 10%;
    margin: 2%;
    border-radius: 4px;
    .icon{
        svg{
            font-size: 25px;
        }
        
    }
    .title{
        font-family: 'Poppins', sans-serif;;
        color: white;
        font-weight: bold;
        font-size: 40px;
        h3{
            text-align: center;
        }
    }
}